@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Mooli&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.roboto {
  font-family: "Lexend", sans-serif;
}

.toggle-btn {
  @apply cursor-pointer 
         hover:bg-purple-400 
         hover:text-white 
         transition-all 
         duration-300 
         px-4 
         py-2 
         
         font-bold;
}
